
@{
    ViewBag.Title = "Tedarikçi Silme";
}
@using MVC_CircloidTemplate.Models;
@model Supplier                  
<div class="row">
    <div class="col-md-12">
        <div class="block">                               @*BU VİEW SORUP SİLME İŞLEMİ İÇİN VAR*@
            <div class="block-heading">
                <div class="main-text h2">
                    Tedarikçi Silme Sayfası
                </div>
                <div class="block-controls">
                    <a href="/Supplier/Index">
                        <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                    </a>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/Supplier/DeleteSupplier" method="post" role="form">  @*POST ACTİON için gerekli *@
                        @* FORM, Post için gerekli. Action tanımladık*@
                        <input type="Hidden" name="SupplierID" value="@Model.SupplierID" />  @* BURASI ÖNEMLİ....silme için gerekli.Controllera gelen silme isteğini
                                                                                                    Modelda SupplierID ile yakaladık.*@
                        <label>@Model.CompanyName tedarikçisi silinsin mi?</label>
                        <input type="submit" class="btn btn-danger" value="Evet" />
                        <!--Submit içinde bulunduğu formun actionında hangi adres ve method tipi belirtilmişse eğer method post ise formun içindeki verileri post eder.-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


